@function z-index-map() {
  $z-index-map: ();

  $nums: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
  $multiplers: 1, 10, 100, 1000;

  @each $multiplier in $multiplers {
    @each $num in $nums {
      $z-index-map: map-merge(
        $z-index-map,
        (
          $num: $num * $multiplier
        )
      );
    }
  }

  @return map-merge(
    $z-index-map,
    (
      "auto": auto
    )
  );
}

$non-responsive-utilities: (
  "text-transform": (
    "prefix": "transform",
    "values": (
      "uppercase": uppercase,
      "lowercase": lowercase,
      "capitalize": capitalize
    )
  ),
  "text-align": (
    "prefix": "align",
    "values": (
      "center": center,
      "left": left,
      "right": right,
      "justify": justify
    )
  ),
  "text-indent": (
    "prefix": "indent",
    "values": $border-and-outline-widths
  ),
  "text-wrap": (
    "prefix": "wrap",
    "values": (
      "wrap": wrap,
      "nowrap": nowrap,
      "balance": balance,
      "pretty": pretty,
      "stable": stable
    )
  ),
  "word-break": (
    "prefix": "break",
    "values": (
      "normal": normal,
      "all": break-all,
      "keep": keep-all,
      "word": break-word
    )
  ),
  "font-family": (
    "prefix": "font",
    "values": $fonts
  ),
  "font-weight": (
    "prefix": "font",
    "values": $font-weights
  ),
  "font-style": (
    "prefix": "font",
    "values": (
      "normal": normal,
      "italic": italic,
      "oblique": oblique
    )
  ),
  "text-decoration": (
    "prefix": "text",
    "values": (
      "none": none,
      "underline": underline,
      "overline": overline,
      "underover": (
        underline,
        overline
      ),
      "line-through": line-through,
      "wavy": wavy
    )
  ),
  "text-decoration-thickness": (
    "prefix": "decoration",
    "values": $border-and-outline-widths
  ),
  "outline-style": (
    "prefix": "outline",
    "values": (
      "none": none,
      "dotted": dotted,
      "solid": solid,
      "groove": groove,
      "inset": inset
    )
  ),
  "opacity": (
    "prefix": "opacity",
    "values": (
      "10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1
    )
  ),
  "border-style": (
    "prefix": "border",
    "values": $border-styles
  ),
  "border-top-style": (
    "prefix": "bt",
    "values": $border-styles
  ),
  "border-left-style": (
    "prefix": "bl",
    "values": $border-styles
  ),
  "border-bottom-style": (
    "prefix": "bb",
    "values": $border-styles
  ),
  "border-right-style": (
    "prefix": "br",
    "values": $border-styles
  ),
  "z-index": (
    "prefix": "z",
    "values": z-index-map()
  ),
  "visibility": (
    "prefix": "visibility",
    "values": (
      "visible": visible,
      "hidden": hidden,
      "collapse": collapse
    )
  ),
  "cursor": (
    "prefix": "cursor",
    "values": (
      "auto": auto,
      "pointer": pointer,
      "progress": progress,
      "wait": wait,
      "move": move,
      "not-allowed": not-allowed,
      "grab": grab,
      "grabbing": grabbing,
      "zoom-in": zoom-in,
      "zoom-out": zoom-out,
      "all-scroll": all-scroll,
      "text": text
    )
  ),
  // "transition": (
  //   "prefix": "transition",
  //   "values": (
  //     "1s": all 1s $transition-funciton,
  //     "slow": all 700ms $transition-funciton,
  //     "med": all 500ms $transition-funciton,
  //     "default": all 300ms $transition-funciton,
  //     "fast": all 150ms $transition-funciton,
  //     "1s-colors": (
  //       color 1s $transition-funciton,
  //       background-color 1s $transition-funciton,
  //       border-color 1s $transition-funciton,
  //       text-decoration-color 1s $transition-funciton,
  //       fill 1s $transition-funciton,
  //       stronke 1s $transition-funciton
  //     ),
  //     "slow-colors": (
  //       color 700ms $transition-funciton,
  //       background-color 700ms $transition-funciton,
  //       border-color 700ms $transition-funciton,
  //       text-decoration-color 700ms $transition-funciton,
  //       fill 700ms $transition-funciton,
  //       stronke 700ms $transition-funciton
  //     ),
  //     "med-colors": (
  //       color 500ms $transition-funciton,
  //       background-color 500ms $transition-funciton,
  //       border-color 500ms $transition-funciton,
  //       text-decoration-color 500ms $transition-funciton,
  //       fill 500ms $transition-funciton,
  //       stronke 500ms $transition-funciton
  //     ),
  //     "default-colors": (
  //       color 300ms $transition-funciton,
  //       background-color 300ms $transition-funciton,
  //       border-color 300ms $transition-funciton,
  //       text-decoration-color 300ms $transition-funciton,
  //       fill 300ms $transition-funciton,
  //       stronke 300ms $transition-funciton
  //     ),
  //     "fast-colors": (
  //       color 150ms $transition-funciton,
  //       background-color 150ms $transition-funciton,
  //       border-color 150ms $transition-funciton,
  //       text-decoration-color 150ms $transition-funciton,
  //       fill 150ms $transition-funciton,
  //       stronke 150ms $transition-funciton
  //     ),
  //     "1s-opacity": opacity 1s $transition-funciton,
  //     "slow-opacity": opacity 700ms $transition-funciton,
  //     "med-opacity": opacity 500ms $transition-funciton,
  //     "default-opacity": opacity 300ms $transition-funciton,
  //     "fast-opacity": opacity 150ms $transition-funciton,
  //     "1s-shadow": box-shadow 1s $transition-funciton,
  //     "slow-shadow": box-shadow 700ms $transition-funciton,
  //     "med-shadow": box-shadow 500ms $transition-funciton,
  //     "default-shadow": box-shadow 300ms $transition-funciton,
  //     "fast-shadow": box-shadow 150ms $transition-funciton,
  //     "1s-transform": transform 1s $transition-funciton,
  //     "slow-transform": transform 700ms $transition-funciton,
  //     "med-transform": transform 500ms $transition-funciton,
  //     "default-transform": transform 300ms $transition-funciton,
  //     "fast-transform": transform 150ms $transition-funciton
  //   )
  // )
);

@each $property, $map in $non-responsive-utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if ($k == "default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}
