@use "sass:math";

// a variable for the max comtainer size
// max-width gets this max-width-container
// if you don't want to use it, you don't gotta (or set it to 100% or 100 vw)
$container-size: 1024px; // 1024 is a good value imo

// fonts are a nice start to customizing a design
$fonts: (
  "default": (
    "Lato",
    sans-serif
  ),
  "large": (
    "Francois One",
    sans-serif
  ),
  "header": (
    "Bebas Neue",
    sans-serif
  )
);

$font-weights: (
  "light": 200,
  "normal": 400,
  "bold": 700
);

// Theme breakpoints! To make/modify a breakpoint, do it here
// it's useful to have a "blank" one for the purpuses of looping
// and the remaining breakpoints are named thusly ...
// mob: mobile, tab: tablet, scr: screen, lg: large screen
// so the way the media queires are generated, "mob" is 0-640px, "tab" 640-720, "scr" 768-1024, "lg" is anything bigger
$breakpoints: (
  "_": none,
  "mob": 0,
  "tab": 640px,
  // tab starts at 640
  "scr": 768px,
  "lg": 1024px
);

// dark mode ..
$modes: "default", "dark-mode";

// lighter and darker
// for example, the numbers are how much percent lighter or darker the color is
// I actually mix with that percentage of black and white, because I
// think it looks a little better
$color-modifiers: (
  "light": (
    "lt": 20%,
    "ltr": 40%
  ),
  "dark": (
    "dk": 20%,
    "dkr": 40%
  )
);

// theme colors

// color pallate map for text, background color, borders
// each color gets a 'light' and 'lighter', 'dark' amd "darker' modifier
// also, each color can optionally be overridden in a differnet mode,
// the key of the sub-map has to be the same as the mode
// and the color name has to be defined

// red blue green purple default background
$colors: (
  "default": (
    "white": #fff,
    "black": #000,
    "red": #cb3810,
    "green": #589f50,
    "blue": #2978a0,
    "default": #252832,
    "background": #fdfcf9,
    "magenta": #bf4081
  ),
  "dark-mode": (
    "background": #292d3a,
    "default": #dcdbda,
    "green": #246410,
    "dark-mode-only": #35343c
  )
);

// margins, padding, font-size classes are multiples of this
$base-size: 0.125rem;

// for margins, paddings, font-size etc
// p-1 is 1 times the base spacing, m-12 is 12 times the base spacing, etc
// following the pattern, the spacing vals can be modified here
$size-multipliers: (
  "0": 0,
  "xxs": 1,
  "xs": 2,
  "sm": 4,
  "md": 6,
  "base": 8,
  "lg": 10,
  "xl": 12,
  "2xl": 16,
  "3xl": 24,
  "4xl": 32,
  "5xl": 40
);

// font sizes might be a little more different than margin or padding sizes
// so this seperate array reflects that
$font-size-multipliers: (
  "0": 0,
  "xs": 3,
  "sm": 5,
  "md": 7,
  "base": 8,
  "lg": 10,
  "xl": 12,
  "2xl": 16,
  "3xl": 24,
  "4xl": 32,
  "5xl": 40
);

// for border radius
$base-border-radius: 0.5rem;
$border-radiuses: (
  "default": $base-border-radius,
  "none": 0,
  "xs": math.div($base-border-radius, 4),
  "sm": math.div($base-border-radius, 2),
  "md": $base-border-radius,
  "lg": $base-border-radius * 2,
  "xl": $base-border-radius * 3,
  "full": 50%
);

// also used for text decoration thickness
$base-border-width: 1px;
$border-and-outline-widths: (
  "sm": 1px,
  "md": 2px,
  "lg": 3px,
  "xl": 4px
);

// couple other maps ...
$line-heights: (
  "0": 0,
  "sm": 1rem,
  "md": 1.2rem,
  "lg": 1.3r5em,
  "xl": 1.5rem,
  "2xl": 2rem
);

$letter-spacing: (
  "sm": 0.006rem,
  "md": 0.013rem,
  "lg": 0.025rem,
  "xl": 0.044rem,
  "2xl": 0.063rem,
  "3xl": 0.125rem
);

// just helper map specifically for border styles
// in the utilities and colors files
$border-styles: (
  "none": none,
  "dashed": dashed,
  "dotted": dotted,
  "solid": solid,
  "groove": groove,
  "inset": inset
);

$grid-columns: 12;
$grid-gaps: (
  "none": 0,
  "xs": $base-size * 2,
  "sm": $base-size * 4,
  "md": $base-size * 8,
  "lg": $base-size * 12,
  "xl": $base-size * 16,
  "2x1": $base-size * 24
);

$fraction-map: (
  "0": 0,
  "1\\/2": 50%,
  "1\\/3": 33.3%,
  "2\\/3": 66.7%,
  "1\\/4": 25%,
  "3\\/4": 75%,
  "1\\/5": 20%,
  "2\\/5": 40%,
  "3\\/5": 60%,
  "4\\/5": 80%,
  "1//10": 10%,
  "3//10": 30%,
  "7//10": 70%,
  "9//10": 90%,
  "1//20": 5%,
  "3//20": 15%,
  "7//20": 35%,
  "9//20": 45%,
  "11//20": 55%,
  "13//20": 65%,
  "17//20": 85%,
  "19//20": 95%,
  "full": 100%
);

$rems-for-heights-and-widths: (
  "1": 1rem,
  "2": 2rem,
  "3": 3rem,
  "4": 4rem,
  "6": 6rem,
  "8": 8rem,
  "10": 10rem,
  "12": 12rem,
  "16": 16rem,
  "20": 20rem,
  "24": 24rem,
  "30": 30rem,
  "36": 36rem,
  "42": 42rem,
  "48": 48rem,
  "56": 56rem,
  "64": 64rem,
  "72": 72rem,
  "80": 80rem
);

$px-for-nudging-position: (
  "1px": 1px,
  "2px": 2px,
  "3px": 3px
);

// hmm
$box-shadows: (
  "sm": (
    (
      "shadow": 0px 2px 3px 1px,
      "opacity": 0.1
    ),
    (
      "shadow": 0px -1px 2px 0px,
      "opacity": 0.07
    )
  ),
  "md": (
    (
      "shadow": 0px 3px 7px 1px,
      "opacity": 0.15
    ),
    (
      "shadow": 0px -2px 4px 1px,
      "opacity": 0.1
    )
  ),
  "lg": (
    (
      "shadow": 0px 4px 8px 2px,
      "opacity": 0.15
    ),
    (
      "shadow": 0px -2px 5px 1px,
      "opacity": 0.1
    )
  ),
  "xl": (
    (
      "shadow": 0px 5px 10px 2px,
      "opacity": 0.15
    ),
    (
      "shadow": 0px -3px 7px 2px,
      "opacity": 0.1
    )
  )
);

$pseudo-classes: "hover", "active", "focus"; // can be edited
