@use "sass:math";

// Start with fonts
$fonts: (
  "default": (
    "Lato",
    sans-serif
  ),
  "large": (
    "Francois One",
    sans-serif
  ),
  "header": (
    "Bebas Neue",
    sans-serif
  )
);

$font-weights: (
  "light": 200,
  "normal": 400,
  "bold": 700
);

// Theme breakpoints! To make/modify a breakpoint, do it here
// it's useful to have a "blank" one for the purpuses of looping
// and the remaining breakpoints are named thusly ...
// mob: mobile, tab: tablet, scr: screen, lg: large screen
// so the way the media queires are generated, "mob" is 0-640px, "tab" 640-720, "scr" 768-1024, "lg" is anything bigger
$breakpoints: (
  "_": none,
  "mob": 0,
  "tab": 640px,
  "scr": 768px,
  "lg": 1024px
);

// night mode ..
$modes: "default", "night";

// lighter and darker
// for example, the numbers are how much percent lighter or darker the color is
// I actually mix with that percentage of black and white, because I
// think it looks a little better
$color-modifiers: (
  "light": (
    "lt": 20%,
    "ltr": 40%
  ),
  "dark": (
    "dk": 20%,
    "dkr": 40%
  )
);

// theme colors
$primary: #2953f5;
$secondary: #023c40;
$error: #cc2936;
$info: #f69622;
$text: #231c07;
$background: #fffffa;

$primary-night: #2953f5;
$secondary-night: #023c40;
$error-night: #cc2936;
$info-night: #f69622;
$text-night: #231c07;
$background-night: #fffffa;

// color pallate map for text, background color, borders
// each color gets a 'light' and 'lighter', 'dark' amd "darker' modifier
// also, each color can optionally be overridden in a differnet mode,
// the key of the sub-map has to be the same as the mode
// and the color name has to be defined
$colors: (
  "default": (
    "pri": $primary,
    "sec": $secondary,
    "err": $error,
    "info": $info,
    "def": $text,
    "bg": $background,
    "blu": #0ad3ff,
    "rd": #e30d1f,
    "ylw": #e5e059,
    "grn": #17a398,
    "or": #f58a07,
    "purp": #3d2645,
    "gry": #798071,
    "blk": #0e131f,
    "wte": #fffffa
  ),
  "night": (
    "pri": $primary,
    "sec": $secondary,
    "err": $error,
    "info": $info,
    "def": $text,
    "bg": $background
  )
);

// margins, padding, font-size classes are multiples of this
$base-size: 0.125rem;

// for margins, paddings, font-size etc
// p-1 is 1 times the base spacing, m-12 is 12 times the base spacing, etc
// following the pattern, the spacing vals can be modified here
$size-multipliers: (
  "0": 0,
  "xxs": 1,
  "xs": 2,
  "s": 4,
  "m": 6,
  "std": 8,
  "lg": 10,
  "xl": 12,
  "2xl": 16,
  "3xl": 24,
  "4xl": 32,
  "5xl": 40
);

// for border radius
$base-border-radius: 0.5rem;
$border-radiuses: (
  "default": $base-border-radius,
  "none": 0,
  "xs": math.div($base-border-radius, 4),
  "sm": math.div($base-border-radius, 2),
  "md": $base-border-radius,
  "lg": $base-border-radius * 2,
  "xl": $base-border-radius * 3,
  "full": 50%
);

// also used for text decoration thickness
$base-border-width: 1px;
$border-and-outline-widths: (
  "sm": 1,
  "md": 2,
  "lg": 3,
  "xl": 4
);

// just helper map specifically for border styles
// in the utilities and colors files
$border-styles: (
  "none": none,
  "dashed": dashed,
  "dotted": dotted,
  "solid": solid,
  "groove": groove,
  "inset": inset
);

// box shadows
// test out when back
// goal.. get the grid system up
// and color system up.. and get site up
// goal for weekend
$box-shadows: (
  "none": 0,
  "xs": (
    0px 1px 3px rgba(0, 0, 0, 0.15),
    0px -1px 1px rgba(0, 0, 0, 0.1)
  ),
  "sm": (
    0px 2px 3px 1px rgba(0, 0, 0, 0.1),
    0px -1px 2px rgba(0, 0, 0, 0.07)
  ),
  "md": (
    0px 3px 5px 1px rgba(0, 0, 0, 0.1),
    0px -1px 4px 1px rgba(0, 0, 0, 0.07)
  ),
  "lg": (
    0px 3px 7px 1px rgba(0, 0, 0, 0.15),
    0px -2px 4px 1px rgba(0, 0, 0, 0.1)
  ),

  "xl": (
    0px 4px 8px 2px rgba(0, 0, 0, 0.15),
    0px -2px 5px 1px rgba(0, 0, 0, 0.1)
  ),
  "2xl": (
    0px 5px 10px 2px rgba(0, 0, 0, 0.15),
    0px -3px 7px 2px rgba(0, 0, 0, 0.1)
  )
);

$grid-columns: 12;
$grid-gaps: (
  "none": 0,
  "xs": $base-size * 2,
  "sm": $base-size * 4,
  "md": $base-size * 8,
  "lg": $base-size * 12,
  "xl": $base-size * 16,
  "2x1": $base-size * 24
);

$fraction-map: (
  "0": 0,
  "1\\/2": 50%,
  "1\\/3": 33.3%,
  "2\\/3": 66.7%,
  "1\\/4": 25%,
  "3\\/4": 75%,
  "1\\/5": 20%,
  "2\\/5": 40%,
  "3\\/5": 60%,
  "4\\/5": 80%,
  "1\\/6": 16.7%,
  "5\\/6": 83.3%,
  "1\\/8": 12.5%,
  "3\\/8": 37.5%,
  "5\\/8": 62.5%,
  "7\\/8": 87.5%,
  "1\\/12": 8.3%,
  "5\\/12": 41.7%,
  "7\\/12": 58.3%,
  "11\\/12": 91.7%,
  "full": 100%
);
